body {
    background-color:  #61bd8c;
    padding: 40px;
}

#conteudo {
    background: #FFFFFF;
    padding: 5px;
    width: 90%;
    right: 10%;
    margin: 30px auto;
    padding: 10px;

}

.caixa{
    background: red;
    margin: 10px;
    width: 100px;
    height: 100px;
    color: #FFFFFF;
}


#header{
    position: relative;
    left: 25px;
    width: 90%;
}

#header1{
    position: relative;
    left: 25px;
    width: 90%;
    height: 90%;
}


#left{
    position: relative;
    left: 25px;
    right: 100%;

}

#right{
    position: absolute;
    right: 10%;
    width: 25%;

}

#center{
    position: absolute;
    left: 30px;
}

#footer{
    position: fixed;
    left: 200px;
    top: 0px;
}