.menu{
    background: hsl(55, 76%, 73%);
    font-family: "Trebucher MS", Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px;
}

a:link{
    color: #b9c941;
    text-decoration: none;
}

a:visited{
color: #458b00
}

a:hover{
    color: #8B4726;
}

a:active{
    color: #ff1493;
}

a{
    text-decoration: none;
}